<a routerLink="../"><mat-icon class="back-button">arrow_back_ios</mat-icon></a>
<div class="box">
    <div class="rainbow rainbow_text_animated">Поддержать</div>

    <div class="but-div-up">
        <div class="buttons"> 

            <a class="button" href="https://qiwi.com/n/ITYUU809" target="_blank">
                <img width= "38%" height= "auto" src="assets/qiwi.svg" style="margin-bottom: 5%;">
            </a>

            <a class="button" href="https://www.tinkoff.ru/rm/kalyagin.ivan8/JHORR89503" target="_blank">
                <img width= "25%" height= "auto" src="assets/tinkoff.svg" style="margin-bottom: 10%;">    
            </a>

            <a class="button" href="https://yoomoney.ru/to/4100118092151552" target="_blank">
                <img width= "23%" height= "auto" src="assets/yoomoney.svg" style="margin-bottom: 7%; margin-left: 2%;">    
            </a>
        </div>
    </div>

</div>